body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-esfot {
  background-color: #e94c4c !important;
}

.text-esfot {
  color: #ffffff !important;
}

.btn-esfot {
  background-color: #000000;
  color: white;
  border: none;
}

.btn-esfot:hover {
  background-color: #cabb68;
}
.nav-link-custom {
  color: #fff !important;
  text-decoration: underline;
  padding: 4px 12px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  display: inline-block;
}
.nav-link-custom:hover {
  background: #222;
  color: #fff !important;
  text-decoration: underline;
}
